[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
cli="python3 edi/cli.py"
check-format="black -t py38 --check --diff edi tests"
format="black -t py38 edi tests"

[packages]
pyaml = "*"
lxml = "*"
xworkflows = "*"
pydantic = "*"
httpx = "*"
asyncio-nats-client = "*"
asyncio = "*"
nkeys = "*"
x12 = {editable = true, git = "https://github.com/LinuxForHealth/x12.git"}
python-dotenv = "*"

[dev-packages]
pytest = "*"
black = "*"
pre-commit = "*"

[pipenv]
allow_prereleases = true
